spring:
  application:
    name: Grayskull
  data:
    mongodb:
      database: grayskull
      uri: mongodb://admin:password@host.docker.internal:37017/admin?maxLifeTimeMs=3600000&maxIdleTimeMs=600000&maxConnecting=100&readPreference=secondaryPreferred&w=majority

server:
  read-only:
    enabled: false
  error:
    include-binding-errors: always
    include-message: always

grayskull:
  crypto:
    keys:
      key1: wVXG0jhpwG0DwTMt3sQK57hukC1Uhl/yUuvH9GOP3B4=
      key2: LFptkQ/bTpTX4dCoGtZm2BcqMvoUTYJHTvyoF4t0X00=
  projects:
    defaultProject:
      id: default-project
      kmsKeyId: key1
  authorization:
    rules:
      - user: admin
        project: "*"
        actions:
          - "*"
      - user: user1
        project: "test-project"
        secret: "*"
        actions:
          - "*"
      - user: editor
        project: "test-project"
        actions:
          - "CREATE_SECRET"
          - "READ_SECRET_METADATA"
          - "READ_SECRET_VALUE"
          - "ADD_SECRET_VERSION"
          - "DELETE_SECRET"
          - "LIST_SECRETS"
          - "READ_SECRET_VERSION_VALUE"
      - user: viewer
        project: "test-project"
        actions:
          - "LIST_SECRETS"
          - "READ_SECRET_METADATA"


management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,refresh
  observations:
    annotations:
      enabled: true

audit:
  batch-time-seconds: 5
  node-name: local
  batch-size: 5
  max-history: 10
  max-file-size: 10kb
  file-path: /tmp/grayskull-audit.log
  file-pattern: /tmp/grayskull-audit-%d{yyyy-MM-dd}.%i.log.gz
